html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #444;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  /*box-sizing: border-box;
  O tamanho das divs considera a borda usando o box-sizing
  Com content-box, o tamanho da borda nao é considerado dentro do height e width*/
}

:root { /*variaveis CSS para deixar os tamanhos so dependendo delas */
  --area-porta-altura: 310px;
  --area-porta-largura: 200px;
}/*essa descricao so funciona no css global*/
